.vanta { 
    min-height: 300px;
    color: white;
    padding: 20px;
    font-size: 24px;
  }
  h1{
    font-family: miller-banner,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem!important;
    color: rgb(255, 255, 255);
  }
  .align{
    text-align: center;
    top: 280px;
    right: 399px;
}
.font{
    gap: 50px;
    font-family: elza,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 0, 0);
  }
  .body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flip-card {
    background-color: transparent;
    height: 300px;
    perspective: 1000px;
    margin: 0;
    
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    
    transition: transform 0.6s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
  }
  
  .flip-card:focus {
      outline: 0;
  }
  
  .flip-card:hover .flip-card-inner,
  .flip-card:focus .flip-card-inner{
    transform: rotateY(180deg);
  }
  
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 139%;
    
  }
  
  .flip-card-front {
    color: black;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: #ffffff;
 
  }
  .flip-card-back {
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: #ffffff;
  }
  .effect-container {
    position: relative;
    width: auto;
    height: fit-content;
  }
  .cards-container{
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    padding-bottom: 0.5rem;
  }
 .design{
  font-family: timberline,sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #BCA2F2;
  font-size: 3rem;
 }
 .coder{
  font-family: roboto,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
 }
 .ppic{
    width: 100%;
    border-radius: 10px;
 }
 .abtme{
  text-align: justify;
 }
 .footer {
  background-color:#BCA2F2;
  color: #483F59;
  text-align: center;
  padding: 1rem;
}
.center{
  display: grid;
  justify-content: center;
}

.mcon{
  border: solid #BCA2F2;
  border-width: 0 3px;
}
.card {
  background: white;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }
 
 .shadow {
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
              0 0  0 2px rgb(190, 190, 190),
              0.3em 0.3em 1em rgba(0,0,0,0.3);
 }
 